<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box">
        <h1>Todo List</h1>
    </div>

    <div class="box">
        <% for (var i = 0; i < ejes.length; i++) { %>
            <div class="item">
                <input type="checkbox" id="item<%= i %>">
                <label for="item<%= i %>"><%= ejes[i] %></label>
            </div>
        <% } %>

        <form action="/" method="POST">
            <input type="text" name="task" placeholder="Enter the task" required>
            <button type="submit">+</button>
        </form>
    </div>
</body>
</html>