html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
}

h1 {
    color: #000;
    padding: 10px;
}

.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: #A683E3;
    text-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    justify-content: space-between;
    padding: 5px;
}

.item:last-child {
    border-bottom: 0;
}

input[type="text"] {
    text-align: center;
    height: 40px;
    border: none;
    background: transparent;
    font-size: 16px;
    width: 150px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
}

button {
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #A683E3;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

button.delete-btn {
    background-color: red;
}

select {
    height: 30px;
    margin-left: 5px;
}

.priority {
    margin-left: 10px;
    font-weight: bold;
}

footer {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
